<div
    class="w-[95vw] h-full min-h-[60rem] lg:min-h-[80rem] text-skin-base flex flex-col space-y-[2vw] pt-[16vw] lg:pt-[8vw]">
    <h1 class="text-heading-sm md:text-heading-md lg:text-heading-vw lg:font-bold">Leistungen</h1>
    <p class="text-base-sm md:text-base-md lg:text-base-vw p-0 md:max-w-[50vw]">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
    </p>
    <div class="pt-[2rem] md:pt-[3.2vw]">
        <div class="md:w-[50.7vw] lg:w-[20.7vw] lg:h-[2.3vw]">
            <jbm-creator-network-button [transparent]="true" [link]="'/contact'">Service
                anfragen</jbm-creator-network-button>
        </div>
    </div>
</div>