<div
    class="w-full grid-cols-1 text-skin-base space-y-[4vw] bg-creators-mobile md:bg-creators-web
bg-cover bg-no-repeat pt-[35vw] h-full min-h-[115vw] lg:min-h-[72vw] md:pt-[18vw] lg:pt-[13vw]  pl-[3vw] pr-[6vw] md:pl-[8vw] pb-[30vw]">

    <h1 class="text-heading-sm md:text-heading-md lg:text-heading-vw lg:font-bold">Creator</h1>
    <p class="text-base-sm md:text-base-md lg:text-base-vw p-0">
        Unsere Creator setzen deine Marke richtig in <br />
        Szene. Direkt an der Zielgruppe erreichst du mit <br />
        unseren Markenbotschaftern großes!
    </p>
    <div class="pt-[2rem] md:pt-[3.2vw]">
        <div class="md:w-[50.7vw] lg:w-[20.7vw] lg:h-[2.3vw]">
            <jbm-creator-network-button [transparent]="true" [link]="'/contact'">Creator
                anfragen</jbm-creator-network-button>
        </div>
    </div>
</div>