<html>

  <head>
    <meta charset='utf-8' />
    <title>Contact</title>
  </head>

  <body>
    <h1 class='title'>Von:
      {{contactEmail.name}}
      ({{contactEmail.eMail}}) An Creator:
      {{contactEmail.creatorName}}</h1>
    <p>{{contactEmail.message}}</p>
  </body>

</html>