@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@layer base {
  .jbm-checkbox {
    @apply appearance-none w-[0.9rem] md:w-[0.9vw] aspect-square border-2 border-white bg-transparent checked:bg-skin-button-base checked:border-skin-button-base transition duration-200 self-center mr-2 cursor-pointer;
  }
  .jbm-checkbox-label {
    @apply inline-block text-skin-base text-[0.7rem] md:text-[0.6vw] self-center cursor-pointer select-none md:pt-[0.1vw];
  }
  .autocomplete ng-autocomplete .autocomplete-container .input-container input {
    @apply w-full bg-transparent focus:outline-none text-skin-base;
  }
  .autocomplete ng-autocomplete .autocomplete-container {
    @apply w-full outline-none shadow-none border-b-2 border-white;
  }
  .autocomplete ng-autocomplete .autocomplete-container .suggestions-container {
    @apply bg-skin-fill text-skin-base;
  }
  .autocomplete
    ng-autocomplete
    .autocomplete-container
    .suggestions-container
    ul {
    @apply max-h-screen;
  }
  .autocomplete
    ng-autocomplete
    .autocomplete-container
    .suggestions-container
    .item
    a {
    @apply bg-skin-fill text-skin-base;
  }

  .autocomplete ng-autocomplete .input-container .x > i {
    @apply text-skin-base;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}
@layer base {
  :root {
    --color-text-base: #ffffff;
    --color-text-muted: #20667433;
    --color-text-inverted: #141322;
    --color-text-highlight: #52ff98;

    --color-bg-base: #141322;
    --color-bg-backdrop: #20667433;
    --color-bg-mobile-menu: #141322f2;
    --color-button-base: #4fff9b;
    --color-button-border: #4fff9b;
  }
}
