<div class="flex flex-col space-y-[3.3vw] text-skin-base pt-[8.5vw] w-full h-full ">
    <h1 class="text-heading-vw font-bold">Marken</h1>
    <div>
        <p class="text-base-vw p-0">
            Du möchtest deine Marke gemeinsam mit uns <br>
            richtig in Szene setzen? <br>
            
        </p>
        <p class="text-base-vw p-0 mt-[2vw]">
            Mit unseren Creator schaffen wir authentische <br>
            Werbebotschaften und bringen deine Marke zur <br>
            richtigen Zielgruppe.
        </p>
    </div>
    <div class="flex flex-col space-y-[5vw] pt-[2vw]">
        <p class="text-base-vw">Referenzen</p>
        <div class="grid sm:grid-cols-1 md:grid-cols-3">
            <div class="flex justify-center border border-white w-[23.5vw] h-[8vw]">
                <p class="text-[4vw] self-center">LOGO</p>
            </div>
            
            <div class="flex justify-center border border-white w-[23.5vw] h-[8vw]">
                <p class="text-[4vw] self-center">LOGO</p>
            </div>
            
            <div class="flex justify-center border border-white w-[23.5vw] h-[8vw]">
                <p class="text-[4vw] self-center">LOGO</p>
            </div>
            
        </div>
    </div>
    <div class="pt-[6vw]">
        <div class="w-[20.7vw] h-[2.3vw]">
            <jbm-creator-network-button [transparent]="true">Weitere Referenzen</jbm-creator-network-button>
        </div>
    </div>
</div>
  