<div class="w-full h-full flex flex-col text-skin-base space-y-[2rem] pt-[30vw] md:space-y-[3.3vw] md:pt-[8.5vw]">
    <h1 class="text-heading-sm md:text-heading-vw md:font-bold">Leistungen für Creator</h1>
    <p class="text-base-sm md:text-base-vw p-0">
        Bei uns bist du Teil eines bunt gemischten Netzwerkes aus tollen Menschen. <br>
        Wir bieten unseren Creator eine sichere Postanschrift für ein rechtssicheres Impressum. <br>
        Unsere Aufgaben sind es sich um die Anfragen, die an unsere Creator herangetragen <br>
        werden, zu kümmern und schützen dabei gleichzeitig ihre Sicherheit und Privatsphäre.
    </p>
    <div class="pt-[1rem] md:pt-[3.2vw]">
        <div class="md:w-[27vw] md:h-[2.3vw]">
          <jbm-creator-network-button [transparent]="true">Mehr zu unseren Leistungen</jbm-creator-network-button>
        </div>
    </div>
</div>
