<div class="flex flex-col space-y-[3.3vw] text-skin-base pt-[8.5vw] w-full h-full ">
    <h1 class="text-heading-vw font-bold">Leistungen für Creator</h1>
    <p class="text-base-vw p-0">
        Bei uns bist du Teil eines bunt gemischten Netzwerkes aus tollen Menschen. <br>
        Wir bieten unseren Creator eine sichere Postanschrift für ein rechtssicheres Impressum. <br>
        Unsere Aufgaben sind es sich um die Anfragen, die an unsere Creator herangetragen <br>
        werden, zu kümmern und schützen dabei gleichzeitig ihre Sicherheit und Privatsphäre.
    </p>
    <div class="pt-[3.2vw]">
        <div class="w-[20.7vw] h-[2.3vw]">
            <jbm-creator-network-button [transparent]="true">Mehr zu unseren Leistungen</jbm-creator-network-button>
        </div>
    </div>
</div>
  