<div class="grid-cols-1">
  <img src="/assets/logo-landingpage.svg" alt="logo-landing-page"
    class="w-[48vw] pb-[2.5vw] md:w-[35vw] md:pb-[2.5vw]" />
  <img src="/assets/beyond_the_limits.svg" alt="logo-landing-page"
    class="w-[80vw] pb-[2.5vw] md:w-[53vw] md:pb-[2.5vw]" />
  <p class="text-skin-base text-base-sm m md:text-base-vw">
    Wir sind ein Netzwerk, das aus einem Start-Up hervorgeht.<br />
    Zusammen wachsen wir mit unseren Creator für einen<br />
    langfristigen Erfolg
  </p>
</div>