<div class="flex flex-col pl-[8vw]">
  <jbm-creator-network-title class="h-[55.6vw] pt-[12vw]"></jbm-creator-network-title>
  <jbm-creator-network-creator-overview class="h-[88vw]"></jbm-creator-network-creator-overview>
  <jbm-creator-network-services-overview class="h-[41vw]" ></jbm-creator-network-services-overview> 
  <jbm-creator-network-brands-overview class="h-[91vw]"></jbm-creator-network-brands-overview>
  <jbm-creator-network-contact-overview class="h-[91vw]"></jbm-creator-network-contact-overview>
</div> 
