<div class="flex flex-col pl-[3vw] pr-[6vw] md:pl-[8vw] bg-mobile bg-cover md:bg-web bg-no-repeat overflow-x-hidden">

  <jbm-creator-network-title class="pt-[35vw] h-[140vw] md:h-[60vw] md:pt-[13vw]"></jbm-creator-network-title>

  <jbm-creator-network-creator-overview
    class="w-full h-[300vw] overflow-hidden md:h-[95vw]"></jbm-creator-network-creator-overview>

  <jbm-creator-network-services-overview
    class="min-h-[30rem] h-[130vw] md:h-[41vw]"></jbm-creator-network-services-overview>

  <jbm-creator-network-brands-overview class="h-[130vw] md:h-[91vw]"></jbm-creator-network-brands-overview>

  <jbm-creator-network-contact-overview class="h-[320vw] md:h-[120vw]"></jbm-creator-network-contact-overview>
</div>