<div class="grid grid-cols-1 space-y-[4vw] pt-[6vw]">
  <h1 class="text-[2vw] font-bold">Creator</h1>
  <p class="text-[1.40vw] p-0">
    Unser Netzwerk besteht aus angehenden Streamern mit viel Leidenschaft.<br />
    Sei auch du ein Teil unserer einzigartigen Gemeinschaft!
  </p>
  <div class="grid sm:grid-cols-1 lg:grid-cols-2 gap-10  w-[80vw]">
    <jbm-creator-network-card
      [image]="'/assets/test-profil.png'"
      [name]="'Denncore'"
      [tag]="'@denncore_'"
      [socialCounts]="socialCounts"
    ></jbm-creator-network-card>
    <jbm-creator-network-card
      [image]="'/assets/test-profil.png'"
      [name]="'Denncore'"
      [tag]="'@denncore_'"
      [socialCounts]="socialCounts"
    ></jbm-creator-network-card>

    <jbm-creator-network-card
      [image]="'/assets/test-profil.png'"
      [name]="'Denncore'"
      [tag]="'@denncore_'"
      [socialCounts]="socialCounts"
    ></jbm-creator-network-card>

    <jbm-creator-network-card
      [image]="'/assets/test-profil.png'"
      [name]="'Denncore'"
      [tag]="'@denncore_'"
      [socialCounts]="socialCounts"
    ></jbm-creator-network-card>
  </div>
  <div class="w-[39vw] h-[2.3vw]">
    <jbm-creator-network-button>All Creator</jbm-creator-network-button>
  </div>
</div>
