<div class="grid grid-cols-1 space-y-[4vw]">
  <h1 class="text-[2vw] font-bold">Creator</h1>
  <p class="text-[1.40vw] p-0">
    Unser Netzwerk besteht aus angehenden Streamern mit viel Leidenschaft.<br />
    Sei auch du ein Teil unserer einzigartigen Gemeinschaft!
  </p>
  <div class="grid grid-cols-2 gap-4 w-[80vw]">
    <jbm-creator-network-card
      [image]="'/assets/test-profil.png'"
      [name]="'Denncore'"
      [tag]="'@denncore_'"
      [socialCounts]="socialCounts"
    ></jbm-creator-network-card>
    <jbm-creator-network-card
      [image]="'/assets/test-profil.png'"
      [name]="'Denncore'"
      [tag]="'@denncore_'"
      [socialCounts]="socialCounts"
    ></jbm-creator-network-card>

    <jbm-creator-network-card
      [image]="'/assets/test-profil.png'"
      [name]="'Denncore'"
      [tag]="'@denncore_'"
      [socialCounts]="socialCounts"
    ></jbm-creator-network-card>

    <jbm-creator-network-card
      [image]="'/assets/test-profil.png'"
      [name]="'Denncore'"
      [tag]="'@denncore_'"
      [socialCounts]="socialCounts"
    ></jbm-creator-network-card>
  </div>
  <div class="w-[39.5vw] h-[2.5vw]">
    <button class="w-full h-full rounded-full bg-skin-button-base text-skin-inverted">All Creator</button>
  </div>
</div>
