<div class="grid grid-cols-1 space-y-[4vw] pt-[6vw]">
  <h1 class="text-heading-sm md:text-heading-vw md:font-bold">Creator</h1>
  <p class="text-base-sm md:text-base-vw  p-0">
    Unser Netzwerk besteht aus angehenden Streamern mit viel Leidenschaft.<br />
    Sei auch du ein Teil unserer einzigartigen Gemeinschaft!
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 md:w-[80vw]">
    <ng-container *ngIf="creatorEntities">
      <jbm-creator-network-card *ngFor="let creator of creatorEntities | async;" [image]="'/assets/test-profil.png'"
        [name]="creator.name" [tag]="creator.id"
        [socialCounts]="creator.socialCounts ? creator.socialCounts: []"></jbm-creator-network-card>
    </ng-container>
  </div>
  <div class="md:w-[39vw] md:h-[2.3vw] pt-7">
    <jbm-creator-network-button [link]="'/creator'">Alle Creator</jbm-creator-network-button>
  </div>
</div>